* {
  box-sizing: border-box;
}

body {
  margin:0;
}

.header {
  background-color: rgba(1, 1, 39, 0.596);
  color: aliceblue;
  padding: 24px;
}

.header__title {
  text-align: center;
  font-size: 2.6rem;
}